<div class="large-12 columns"><h2>Alta de Usuario</h2></dvi>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="large-12 columns">
  <div class="large-4 columns">
    <%= f.label "Email" %>
    <%= f.email_field :email, autofocus: true %>
  </div>
</div>

<div class="large-12 columns">
  <div class="large-4 columns">
    <%= f.label "Tipo de Documento" %>
   <%= f.collection_select(:tiposdocumento_id, Tiposdocumento.where(fechadebaja: nil),  :id, :nombre, {prompt: "Selecciona un Tipo de Documento"}) %>
  </div>
</div>

<div class="large-12 columns">
<div class="large-4 columns">
  <%= f.label "Documento" %>
  <%= f.text_field :documento, autofocus: true %>
</div>
</div>

<div class="large-12 columns">
  <div class="large-4 columns">
    <%= f.label "Contraseña" %>
    <% if @validatable %>
    (<%= @minimum_password_length %> caracteres mínimo)
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
</div>

<div class="large-12 columns">
  <div class="large-4 columns">
    <%= f.label "Repite la contraseña" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
</div>

  <div class="actions">
    <%= f.submit "Registrarme" %>
  </div>
<% end %>
