<h3> <%= "#{current_usuario.nombre} #{current_usuario.apellido1} #{current_usuario.apellido2}" %> </h3>

<%= link_to 'Atrás', :back , class: 'button radius small' %>

<table>
  <tr><td><strong>ID:</strong></td><td><%= current_usuario.id %></td></tr>
  <tr><td><strong>Nº Participaciones:</strong></td><td><%= current_usuario.participaciones.size %></td></tr>
  <tr><td><strong>Solicitar Participaciones:</strong></td><td><a href="">Ir</a></td></tr>
  <tr><td><strong>Sorteos Activos:</strong></td><td><a href="">Ir</a></td></tr>
  <tr><td><strong>Editar mi información:</strong></td><td><%= link_to 'Ir', edit_usuario_path(current_usuario.id) %></td></tr>
</table>

<%= link_to 'Atrás', :back , class: 'button radius small' %>
