<h1>Premios Pre-Publicados</h1>

<%= link_to "Nuevo Premio", {:action => 'new', :controller => 'premios'}, class: "small success button radius" if can?(:create, Premio)%>

<table>
  <thead>
    <tr>
      <td> ID </td>
      <td> Codigo </td>
      <td> Nombre </td>
      <td> Tipo de premio </td>
      <td> Fecha y Hora del Sorteo </td>
      <td> Numero de Participaciones </td>
      <% if can? :publicar, Premio %>
        <td> Publicar </td>
      <% end %>
      <% if can? :edit, Premio %>
        <td> </td>
      <% end %>
    </tr>
  </thead>
  <% @premios.each do |premio| %>
    <tr>
      <td> <%= premio.id %> </td>
      <td> <%= premio.codigo%> </td>
      <td> <%= premio.nombre %> </td>
      <td> <%= premio.tipo_premio.nombre %> </td>
      <td> <%= premio.fecha_hora_sorteo.strftime('%d-%m-%Y %H:%M:%S') %> </td>
      <td> <%= premio.numero_participaciones %> </td>
      <% if can? :publicar, Premio %>
      <td> <%= link_to 'Publicar', publicar_premio_path(premio.id) %> </td>
      <% end %>
      <% if can? :edit, Premio %>
        <td> <%= link_to 'Editar', edit_premio_path(premio.id) %> </td>
      <% end %>
    </tr>
  <% end %>
</table>
