<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "+ Premios por -!!" %></title>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "vendor/modernizr" %>
      <%= csrf_meta_tags %>
  </head>
<body>
  <nav class="top-bar" data-topbar role="navigation"  data-options="is_hover: true">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Desarrollo</a></h1>
      </li>
    </ul>
    <section class="top-bar-section" >
      <ul class="right">
        <li class="divider"></li>
        <li>
          <% if usuario_signed_in? %>
        </li>
        <li class="divider"></li>
        <li class="has-dropdown not-click "><a href=""><%= current_usuario.username %></a>
          <ul class="dropdown">
            <li><label>Menú de usuario</label></li>
            <li class="divider"></li>
            <li class="name"><% link_to 'Editar mi informacion de usuario', edit_usuario_path(current_usuario.id) %></li>
            <li>
              <%= link_to "Desconectar", destroy_usuario_session_path, method: :delete, :class => 'navbar-link'  %>
            </li>
          </ul>
        </li>
          <% else %>
            <li><%= link_to "Conectar", new_usuario_session_path, :remote => true, "data-reveal-id" => "sign-in", class: "tiny button radius"  %></li>
          <% end %>
        </ul>
      </section>
    </nav>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <div class="large-12 medium-12 columns small-12 columns" >
  <%= yield %>
</div>


<li><%= link_to "Conectar", new_usuario_session_path, :remote => true, "data-reveal-id" => "sign-in", class: "tiny button radius"  %></li>
<a href="#" data-reveal-id="myModal">Click Me For A Modal</a>
	</body>
  <div id="sign-in" class="reveal-modal" data-reveal>
  <div id="cerrar" class="close-reveal-modal">&#215;</div>
  <div id="signIn"></div>
  </div>


  <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Awesome. I have it.</h2>
    <p class="lead">Your couch.  It is mine.</p>
    <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
</html>
